<a href="https://colab.research.google.com/github/mamunurrashid4117/Assignment_07/blob/main/Assignment_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # Import all Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('insurance.csv') # Import csv file

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.isnull().sum() # Check Null cell

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Label Encoding

In [5]:
from sklearn.preprocessing import LabelEncoder # Import Label Encoder

In [6]:
le=LabelEncoder() # Assign Label Encoder as le

In [7]:
df1=pd.read_csv('insurance.csv') # Import csv file
df2=pd.read_csv('insurance.csv') # Import csv file
df3=pd.read_csv('insurance.csv') # Import csv file
df4=pd.read_csv('insurance.csv') # Import csv file
df5=pd.read_csv('insurance.csv') # Import csv file
df6=pd.read_csv('insurance.csv') # Import csv file
df7=pd.read_csv('insurance.csv') # Import csv file
df8=pd.read_csv('insurance.csv') # Import csv file
df9=pd.read_csv('insurance.csv') # Import csv file
df10=pd.read_csv('insurance.csv') # Import csv file
df11=pd.read_csv('insurance.csv') # Import csv file
df12=pd.read_csv('insurance.csv') # Import csv file
df13=pd.read_csv('insurance.csv') # Import csv file
df14=pd.read_csv('insurance.csv') # Import csv file
df15=pd.read_csv('insurance.csv') # Import csv file
df16=pd.read_csv('insurance.csv') # Import csv file

In [8]:
df1.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
df1.sex=le.fit_transform(df1[['sex']])   # Change the Qualitative data into quantative data

In [10]:
df1

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [11]:
df1.smoker=le.fit_transform(df1[['smoker']])  # Change the Qualitative data into quantative data

In [12]:
df1.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [13]:

df1.region=le.fit_transform(df1[['region']])    # Change the Qualitative data into quantative data

In [14]:
df1.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

#Using Loop

In [15]:
# Loop

In [16]:
df1.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [17]:
for col in df2.columns:    # Using Loop for the data
    if df2[col].dtype==np.number:
        continue
    else:
        df2[col]=le.fit_transform(df2[col])

In [18]:
df2.head()

   age  sex     bmi  children  smoker  region      charges
0    1    0  27.900         0       1       3  16884.92400
1    0    1  33.770         1       0       2   1725.55230
2   10    1  33.000         3       0       2   4449.46200
3   15    1  22.705         0       0       1  21984.47061
4   14    1  28.880         0       0       1   3866.85520

In [19]:
# Another Way
from pandas.core.dtypes.common import is_numeric_dtype

In [20]:
for col in df3.columns:
    if is_numeric_dtype(df3[col]):
        continue
    else:
        df3[col]=le.fit_transform(df3[col])

In [21]:




df3.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# One-Hot Encoding

In [22]:
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [23]:
dummy1=pd.get_dummies(df4.sex)  # Getting Dummy

In [24]:
dummy1.head()

   female  male
0       1     0
1       0     1
2       0     1
3       0     1
4       0     1

In [25]:
dummy2=pd.get_dummies(df4.smoker) # Getting Dummy

In [26]:
dummy2.head()

   no  yes
0   0    1
1   1    0
2   1    0
3   1    0
4   1    0

In [27]:
dummy3=pd.get_dummies(df4.region)   # Getting Dummy

In [28]:
dummy3.head()

   northeast  northwest  southeast  southwest
0          0          0          0          1
1          0          0          1          0
2          0          0          1          0
3          0          1          0          0
4          0          1          0          0

***Another Way***

In [29]:
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [30]:
dummy0=pd.get_dummies(df4.sex,drop_first=True,prefix='sex')

In [31]:
dummy0.head()

   sex_male
0         0
1         1
2         1
3         1
4         1

In [32]:
df4.drop('sex',inplace=True,axis=1)

In [33]:
df4.head()

   age     bmi  children smoker     region      charges
0   19  27.900         0    yes  southwest  16884.92400
1   18  33.770         1     no  southeast   1725.55230
2   28  33.000         3     no  southeast   4449.46200
3   33  22.705         0     no  northwest  21984.47061
4   32  28.880         0     no  northwest   3866.85520

In [34]:
df4=pd.concat([df4,dummy0],axis=1)

In [35]:
df4.head()

   age     bmi  children smoker     region      charges  sex_male
0   19  27.900         0    yes  southwest  16884.92400         0
1   18  33.770         1     no  southeast   1725.55230         1
2   28  33.000         3     no  southeast   4449.46200         1
3   33  22.705         0     no  northwest  21984.47061         1
4   32  28.880         0     no  northwest   3866.85520         1

In [36]:
dummy1=pd.get_dummies(df4.smoker,drop_first=True,prefix='smoker')

In [37]:
dummy1.head()

   smoker_yes
0           1
1           0
2           0
3           0
4           0

In [38]:
df4.drop('smoker',axis=1,inplace=True)

In [39]:
df4.head()

   age     bmi  children     region      charges  sex_male
0   19  27.900         0  southwest  16884.92400         0
1   18  33.770         1  southeast   1725.55230         1
2   28  33.000         3  southeast   4449.46200         1
3   33  22.705         0  northwest  21984.47061         1
4   32  28.880         0  northwest   3866.85520         1

In [40]:
df4=pd.concat([df4,dummy1],axis=1)

In [41]:
df4.head()

   age     bmi  children     region      charges  sex_male  smoker_yes
0   19  27.900         0  southwest  16884.92400         0           1
1   18  33.770         1  southeast   1725.55230         1           0
2   28  33.000         3  southeast   4449.46200         1           0
3   33  22.705         0  northwest  21984.47061         1           0
4   32  28.880         0  northwest   3866.85520         1           0

In [42]:
dummy2=pd.get_dummies(df4.region,drop_first=True,prefix='region')

In [43]:
dummy2.head()

   region_northwest  region_southeast  region_southwest
0                 0                 0                 1
1                 0                 1                 0
2                 0                 1                 0
3                 1                 0                 0
4                 1                 0                 0

In [44]:
df4.drop('region',axis=1,inplace=True)

In [45]:
df4.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [46]:
df4=pd.concat([df4,dummy2],axis=1)

In [47]:
df4.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

In [48]:
# Using Loop

In [49]:
df5.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [50]:
df5.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [51]:
for col in df5.columns:
  if is_numeric_dtype(df5[col]):
    continue
  else:
    one1=pd.get_dummies(df5[col],drop_first=True)
    df5.drop(df5[[col]],axis=1,inplace=True)
    df5=pd.concat([df5,one1],axis=1)

In [52]:
df5.head()

,age,bmi,children,charges,male,yes,northwest,southeast,southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

**Ordinal** **Encoder**

In [53]:
df6.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [54]:
from sklearn.preprocessing import OrdinalEncoder

In [55]:
order0=df6.sex.unique()

In [56]:
order0

array(['female', 'male'], dtype=object)

In [57]:
ordinal=OrdinalEncoder(categories=[order0])

In [58]:
ordinal

OrdinalEncoder(categories=[array(['female', 'male'], dtype=object)])

In [59]:

encoded=ordinal.fit_transform(df6[['sex']])

In [60]:
encoded

array([[0.],
       [1.],
       [1.],
       ...,
       [0.],
       [0.],
       [0.]])

In [61]:
df6.sex=encoded

In [62]:
df6.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    yes  southwest  16884.92400
1   18  1.0  33.770         1     no  southeast   1725.55230
2   28  1.0  33.000         3     no  southeast   4449.46200
3   33  1.0  22.705         0     no  northwest  21984.47061
4   32  1.0  28.880         0     no  northwest   3866.85520

In [63]:
order1=df6.smoker.unique()
order1

array(['yes', 'no'], dtype=object)

In [64]:
ordinal1=OrdinalEncoder(categories=[order1])
ordinal1

OrdinalEncoder(categories=[array(['yes', 'no'], dtype=object)])

In [65]:
encoded1=ordinal1.fit_transform(df6[['smoker']])
encoded1

array([[0.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [0.]])

In [66]:
df6.smoker=encoded1
df6.head()

   age  sex     bmi  children  smoker     region      charges
0   19  0.0  27.900         0     0.0  southwest  16884.92400
1   18  1.0  33.770         1     1.0  southeast   1725.55230
2   28  1.0  33.000         3     1.0  southeast   4449.46200
3   33  1.0  22.705         0     1.0  northwest  21984.47061
4   32  1.0  28.880         0     1.0  northwest   3866.85520

In [67]:
order2=df6.region.unique()
order2

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [68]:
ordinal2=OrdinalEncoder(categories=[order2])
ordinal2

OrdinalEncoder(categories=[array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)])

In [69]:
encoded2=ordinal2.fit_transform(df6[['region']])
encoded2

array([[0.],
       [1.],
       [1.],
       ...,
       [1.],
       [0.],
       [2.]])

In [72]:
df6.region=encoded2
df6.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     2.0     2.0  21984.47061
4   32  1.0  28.880         0     2.0     2.0   3866.85520

In [73]:
#Loop

In [75]:
for col in df7.columns:
  if is_numeric_dtype(df7[col]):
    continue
  else:
    order=df7[col].unique()
    df7[col]=OrdinalEncoder(categories=[order]).fit_transform(df7[[col]])

In [77]:
df7.tail()

      age  sex    bmi  children  smoker  region     charges
1333   50  1.0  30.97         3     1.0     2.0  10600.5483
1334   18  0.0  31.92         0     1.0     3.0   2205.9808
1335   18  0.0  36.85         0     1.0     1.0   1629.8335
1336   21  0.0  25.80         0     1.0     0.0   2007.9450
1337   61  0.0  29.07         0     0.0     2.0  29141.3603

***Replcae without encoder***

In [78]:
df8.region=df7.region.replace(['southwest','southeast','northwest','northeast'],[0,1,2,3])

In [79]:
df8.head()

   age     sex     bmi  children smoker  region      charges
0   19  female  27.900         0    yes     0.0  16884.92400
1   18    male  33.770         1     no     1.0   1725.55230
2   28    male  33.000         3     no     1.0   4449.46200
3   33    male  22.705         0     no     2.0  21984.47061
4   32    male  28.880         0     no     2.0   3866.85520